<agm-map
  class="h-100 w-100"
  [latitude]="location.lat"
  [longitude]="location.lng"
  [zoom]="zoomLevel"
  [streetViewControl]="false"
>
  <agm-marker
    *ngIf="driverIsFocused"
    [latitude]="location.lat"
    [longitude]="location.lng"
    [iconUrl]="'./assets/markers/map-marker-driver.png'"
  >
    <agm-marker
      *ngFor="let task of focusedDriver.tasks"
      [latitude]="task.location.lat"
      [longitude]="task.location.lng"
      [iconUrl]="'./assets/markers/map-marker-task.png'"
    >
    </agm-marker>
  </agm-marker>
</agm-map>
