<div class="d-flex flex-column h-100 bg-white">
  <img class="logo" src="./assets/logo/Logo_black@2x 2.png" alt="logo" />
  <div class="of-style--none h-100 overflow-auto">
    <div class="" *ngFor="let driver of driversList">
      <app-drivers-card
        i_driverName="{{ driver.name }}"
        i_imgUrl="{{ driver.imgUrl }}"
        i_phone="{{ driver.phone }}"
        i_tasksNum="{{ driver.tasks.length }}"
        i_driverId="{{ driver.id }}"
        i_email="{{ driver.email }}"
      ></app-drivers-card>
    </div>
  </div>
</div>
